@charset "utf-8";

@import url('./webfont.css');

* { box-sizing: border-box;}
body, h1, h2, h3, h4, h5, h6, p, ul, dl, dd, figure, th, td, fieldset { margin: 0; padding: 0;}
ul { list-style: none; }
a { text-decoration: none; color: black; }
table { border-collapse: collapse;}
fieldset { border: 0;}
address { font-style: normal; }
hr { display: none; }
.hidden { overflow: hidden; 
    position: absolute; 
    width: 1px; 
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);}

body { 
    font-family: 'Segoe UI';
}

/* header */
#header { 
    position: fixed; 
    top: 0; left: 0;
    width: 100%;
    z-index:999;
    height: 100px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
}
#header h1 {
    width: 249px;
    height: 50px;
 }
#header h1 a { 
    display: block; /* a 태그는 인라인 속성이라 block 써야함 걍 닥치고 외우셈 병신아 */
    width: 100%;
    height: 100%;
    margin-left: 32px;
    background: url(../images/logo.png) no-repeat;
    text-indent: 100%;
    overflow: hidden;
}

/* membership */
#membership { 
    order: 2; 
}
#membership ul { 
    display: flex;
    margin-right: 35px;
}
#membership ul li.goLogin { 
    position: relative; 
    padding-right: 9px;
}
#membership ul li.goLogin::after { 
    content: ""; 
    position: absolute;
    top: 3px; right: 0; 
    height: 11px;
    border: 1px solid #333;
}
#membership ul li.goJoin { padding-left: 9px;}

/* gnb */
#gnb {  }
#gnb ul { 
    display: flex; 
    flex-wrap: wrap; 
    margin-right: 15px;
    gap: 30px;
}
#gnb ul li a {
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.3s;
    padding: 0 10px;
}
#gnb ul li a:hover { 
    padding: 0 10px 5px; 
    border-bottom: 2px solid #000;}


/* footer */
#footer { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 62px 20px 200px;
    border-top: 1px solid #ccc;
    background: url(../images/logoFooter.png) no-repeat 50px 20px;
}
#footer .info { 
    font-size: 14px;   
    text-align: center;
    margin: 0 auto;
}
#footer .sns { 
    display: flex; 
    gap: 20px; 
}
#footer .sns li { width: 32px; }
#footer .sns li a { 
    display: block; 
    height: 32px; 
    background: url(../images/bgSns.png) no-repeat;
    white-space: nowrap; overflow: hidden; text-indent: 100%;
}
#footer .sns .twitter a { background-position-x: right; }