@charset "utf-8";

@font-face {
    font-family: 'Segoe UI';
    src: url(../webfont/segoeui.eot)
         url(../webfont/segoeui.ttf)
         url(../webfont/segoeui.woff);
    font-style: normal;
    font-weight: normal;
}