@charset "utf-8";

/* 웹폰트 */
@import url('./webfont.css');

html { scroll-behavior: smooth;}
* { box-sizing: border-box;}
body {
    margin: 0;
    padding: 0;
    height: 100%; /* 전체 높이 설정 */
    overflow-x: hidden; /* 가로 스크롤 방지 */
}
body, h1, h2, h3, p, ul { margin: 0; padding: 0;}
ul { list-style: none; }
a { text-decoration: none; }
address { font-style: normal;}
.hidden { overflow: hidden; 
    position: absolute; 
    width: 1px; 
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);}

body {
    width: 100%; 
    margin: 0 auto;
    font-weight: 400;
    font-style: normal;
}

#header {
    background-color: rgba(255, 255, 255, 0.3); /* 흰색 배경과 약간의 투명도 */
    height: 60px; /* 네비게이션 바의 높이 */
    position: fixed; /* 상단 고정 */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* 세로 가운데 정렬 */
    z-index: 1000; /* 다른 요소 위에 위치 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
    text-transform: uppercase;
}

#header h1 {
    margin-left: 20px; /* 로고 좌측 여백 */
}

#gnb {
    margin: 0 auto; /* 중간 정렬 */
    position: fixed;
}
#gnb ul {
    display: flex;
    gap: 125px; /* 메뉴 간 간격 */
}
#gnb ul li { 
    display: flex;
    
 }
#gnb ul li a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff; /* 글자색 */
    padding: 10px 15px; /* 클릭 가능한 영역 확대 */
    transition: color 0.3s linear ; /* 부드러운 효과 */
}

#gnb ul li a:hover {
    color: #e95252; /* 호버 시 글자색 변경 */
}

/* main { 
    width: 100%; 
    margin: 0 auto; 
    padding: 70px 11px 30px;
    background: #f06d6d;
    text-align: center;
} */

section {
    position: relative;
    height: 100vh; /* 화면 전체 높이 */
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 중앙 정렬 */
    flex-direction: column;
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* 텍스트 가독성을 위한 그림자 */
    background: no-repeat center center / cover;
}

#introduce {
    background-image: url('../images/morning.jpg' );
    background-attachment: fixed;
}

#favorate {
    background-image: url('../images/sunset.jpg') ;
}

#mySkill {
    background-image: url('../images/moon.jpg') ;
}

section h2 { 
    margin: 0 0 100px ;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
 }

section p { 
    font-family: 'TTBookendBatangR';
    font-weight: 400;
    font-style: normal;
}

